{% extends 'default.html.twig' %}

{% block main_title %}Heidelpay Orders{% endblock %}

{% block main_content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">transactionId</th>
            <th scope="col">Amount</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Clearing Type</th>
            <th scope="col">Status</th>
            <th scope="col">Created</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <th scope="row">{{ order.getId() }}</th>
                <td>{{ order.getTransactionId() }}</td>
                <td>{{ order.getCAmount() }}</td>
                <td>{{ order.getFirstname() }}</td>
                <td>{{ order.getLastname() }}</td>
                <td>{{ order.getCode() }}</td>
                <td>{{ order.getStatus() }}</td>
                <td>{{ order.getCreated().format('Y-m-d H:i:s') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
